/*
filename: Homepage Styles
authors: Asha Burdack
created: 2/04/2025
last modified: 6/04/2025
description: Styles the website home page; index.html
*/

/* Imports fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
	font-family: "Figtree";
	font-weight: 200;
}

/* Logo */
#logo {
    width: 7em;
    margin: 0.2em;
    max-width: 100%;
}

/* All pages general styling */
/* Heading size */
h1 {
	font-weight: 700;
}

h2 {
	font-weight: 900;
}

h3 {
	font-weight: 500;
}


header {
	position: sticky;
	top: 0;
    /* Image sourced from: https://www.freepik.com/free-vector/abstract-seamless-geometric-shape-lines-pattern-design-background_386291308.htm#fromView=keyword&page=1&position=35&uuid=8dd9241e-27c6-436d-986f-3293c9a2abc0&query=Background+Pattern */
    background-image: url('images/temp_nav_background.jpg');
    background-position: top left;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
}

body {
	margin: 0;
}

/* Horizontal bar line */
hr {
	color: #36761f;
	border-style: solid;
}

/* Anchor styling */
a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(30, 173, 2);
}

a:hover {
    text-decoration: none;
    color: rgb(30, 68, 23);
}

/* The navigation bar uses this canvas module for refrence:https://swinburne.instructure.com/courses/64638/pages/week-04-css-basics-2?module_item_id=4968756  */
/* Navigation bar */
nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav div {
    display: flex;
    align-items: center;
}

/* Navigation title */
nav h1 {
    padding-left: 1em;
}
#name {
    max-width: 200px;
}
#short_name {
    display: none;
}
#left_side {
    display: flex;

}

/* Navigation email button */
nav a {
    font-weight: 100;
}
nav a.email {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 0.7em;
    margin-right: 1em;
    border: 2px solid rgb(0, 110, 16);
}
#small_email {
    display: none;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

/* Navigation email button on hover */
nav a.email:hover {
    color: rgb(255, 255, 255);
    background-color: #135d11;
}

/* Navigation menu buttons */
nav div ul {
    background-color: rgba(66, 163, 2, 0.781);
    display: flex;
    justify-content: space-around;
    margin-right: 1.5em;
    width: 20em;
    padding: 1.5em;
}
nav div ul li {
    font-size: large;
    display: inline;
}
nav div ul li a {
    font-size: 1.2em;
    color: #ffffff;

	transition: color 0.1s;
}
nav div ul li a:hover {
    color: rgb(79, 104, 80);
}

/* Adaptive header and navigation bar */
@media screen and (max-width: 927px) {
    #large_email {
        display: none;
    }

    #small_email {
        display: flex;
    }

    nav div ul {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 790px) {
    #name {
        display: none;
    }

    #short_name {
        display: block;
        margin-top: 0em;
        margin-bottom: 0.76em;
        padding: 0em;
    }

    #logo {
        max-width: 5em;
    }

    #logo_title {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #lefthand {
        justify-content: space-between;
        min-width: 91.9%;
    }
}
@media screen and (max-width: 530px) {
    nav div ul {
        max-width: 10em;
        margin-left: 1em;
        padding: 0.6em;
    }

    nav div ul li {
        padding: 0.3em;
    }

    #lefthand {
        justify-content: space-between;
        min-width: auto;
    }
}
@media screen and (max-width: 400px) {
    nav div ul {
        max-width: 5em;
        margin: 1em;
    }

    nav div ul li {
        padding: 0em;
    }
}


/* Home page content styling */
#home_page {
    /* https://www.freepik.com/free-vector/geometric-background-green-tones_6195968.htm#fromView=keyword&page=1&position=0&uuid=3e5abae6-39ee-4183-8de1-a7326c720b90&query=Green+Geometric+Pattern */
    background-image: url('images/homepage_background.jpg');
    background-position: top left;
    background-size: contain;
}
#home_page_title {
    margin: 2%;
    font-size: 3em;
    text-align: center;
}
#slogan {
    text-align: center;
    margin:1%;
}
#main_home {
    background-color: #fff;
    margin: 3%;
    padding: 1em;
    border: 2px solid green;
    border-radius: 10px;
}
section.homepage {
    border: 3px solid black;
}

/* homepage company values stlying and spacing */
h4.value_heading {
    font-weight: 500;
}
#value_boxes {
    display: flex;
    justify-content: space-around;
}
#value_boxes div {
    padding: 0.7em;
    border: 3px solid rgb(90, 122, 48);
    margin: 1%;
    background-color: #ffffff;
    max-width: 25em;
}
#value_boxes div h4 {
    margin: 0;
    color: #000000;
}
#value_boxes div p {
    margin: 0;
    color: #000000;
}
#values, #benefits, #who_are_we, #introduction {
    padding: 1em;
}

/* Homepage footer */
#foot {
    background-color: #224e2c;
    padding: 2em;
    color: #ffffff;
    text-align: center;
}

/* Footer link stlying */
#foot a {
    color: #aef6ab;
}

#foot a:hover {
    color: #778276;
}

/* Adaptive home page content */
@media screen and (max-width: 600px) {
   #value_boxes {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
   } 
}
@media screen and (min-width: 870px) {
    #main_home {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    #lefthand_home {
        max-width: 48%;
        flex-direction: column;
        border-right: 2px solid green;
    }
    #introduction{
        max-width: 100%;
        max-height: 10em;
    }
    #who_are_we{
        max-width: 100%;
    }
    #benefits{
        max-width: 47%;
    }
    #values {
        align-self: flex-end;
    }
}

/* styling for apply.html page */

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40em;
    margin: 0 auto;
}

#postcode {
    width: 15%;
}

#phone {
    width: 25%;
}

#email {
    width: 50%;
}

input[type="text"] {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

legend {
    color: black;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}

fieldset {
    border: 1px solid black;
    padding: 1.25em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#job_ref {
    width: 30%;
}

#AppForm_h1 {
    text-align: left;
    font-size: 2em;
    color: black;
}

/* Jobs.html page styling */

/* Main header styling */
.h1_jobs {
    text-align: center  ; 
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;  
    font-weight: 800;
}

/* Jobs quick access links styles */
.jobs_link {
    color: green
}

.jobs_link:hover {
    color: mediumseagreen;
    text-decoration: underline;
}

/* This aside section uses Week 05: Lab exercise as a reference: https://swinburne.instructure.com/courses/64638/pages/week-05-lab-exercise-2-percent-change-the-layout-of-the-html-with-css?module_item_id=4971090*/
/* Jobs aside section styles */
#jobs_aside {
    width: 25%;
    float: right;
    border: 8px double mediumseagreen;
    border-radius: 10px;
    margin: 1em;
    padding: 2em;
    position: sticky;
    top: 160px;
    margin-left: -10px;
    box-shadow: 5px 10px mediumseagreen;
}

.aside_header {
    text-align: center;
    font-weight: 600;
}

#aside_ol {
   color: green;
}


/* Job listings styling */
#job_positions {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* This id section uses Week 05: Lab exercise as a reference: https://swinburne.instructure.com/courses/64638/pages/week-05-lab-exercise-2-percent-change-the-layout-of-the-html-with-css?module_item_id=4971090*/
#network_admin, #software_dev {
    border: 8px double mediumseagreen;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    width: 80%;
    scroll-margin-top: 150px;
    background-color: rgb(236, 255, 236);
}

/* Sub header styling in job descriptions*/
.job_desc_h {
    font-weight: bold;
}

/* Styles for jobs page adaptive to phone */
@media screen and (max-width: 768px) {

    .h1_jobs {
        font-size: 1.5em; 
    }

    #jobs_aside {
        float: none; 
        width: 70%; 
        margin: 1em auto;
        position: static; 
    }

    #network_admin, #software_dev {
        width: 80%; 
        margin: 1em auto;
    }

    #jobs_aside, #network_admin, #software_dev {
        padding: 1.5em; 
    }

    #job_positions {
        padding: 1em; 
    }
}

#other_skills_text {
    display: none;
}

#other_skills:checked~#other_skills_text {
    display: block;
    margin-top: 10px;
}

#button-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    display: inline-block;
    margin: 1em;
}
button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Focus effect */
button:focus{
    outline: 3px solid #fff;
    outline-offset: 2px;
}